{%include 'header.html'%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>取得連結</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>機器人</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <h1><span>還在擔心自己的單字量不足嗎?</span></h1>
        <h1><span>就算不是高中生也能複習英文單字</span></h1>
        <h1><span>趕快掃描QRCode免費學習英文單字吧</span></h1>
      </div>  
      </section><!-- End Blog Section -->

  </main><!-- End #main -->
</body>

{%include 'footer.html'%}